.nodeBase {
  cursor: pointer;
  fill: #777;
  stroke: #ff9a76;
  stroke-width: 2;
}

.leafNodeBase {
  cursor: pointer;
  fill: transparent;
  stroke: #ff9a76;
  stroke-width: 2;
}

.nodeNameBase {
  fill: #ffeadb;
  stroke: #ffeadb;
  stroke-width: 1;
}

.nodeAttributesBase {
  fill: #f4f6ff;
  stroke: #f4f6ff;
  stroke-width: 1;
  font-size: smaller;
}
